@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    margin: 0;
    position: relative;
color: #fff;
background: #0D0D2B;
/* min-height: 100vh; */
font-family: 'Rubik', sans-serif;
   
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}
.row{
    padding:0 120px ;
}
.container{
  position: relative;
  width: 100%;
}

main{
    position: relative;
    margin-top: 60px;
    /* min-height: 150vh; */
}
/* header */
header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
}
header ul{
    text-decoration: none;
   position: relative;
   list-style: none;
   
}
ul li{
    display: inline-block;
    padding:0 16px;

    
}
header span{
    margin-left: 20px;
    
}
header ul span  a{
    
font-weight: 500;
line-height: 24px;

}
li a:hover{
   
    border-bottom:1px solid #3671E9;
}
span a:hover{
    border-bottom:transparent;
}
span li {
    padding: 0 24px;
}
header ul a{
    padding-bottom: 7px;
    /* background-color: darkblue; */
    font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;
color: #FFFFFF;
transition: all 0.6s ease;
   
}
header .login{
    border-right: 1px solid white;
}
header .register{
    background-color: #3671E9;
    padding: 14px 32px;
    border-radius: 32px;
}



header .logo{
    display: flex;
    gap: 16px;
}
.logo h5{
    font-family: 'Inter', sans-serif;
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.04em;
}

/* Hero section */
.hero-section{
    display: flex;
gap: 8px;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid wheat; */
    padding-bottom: 100px;
}

.hero-section img.shadow1{
    position: absolute;
left: -5%;
top: 40%;
}
.hero-section img.shadow2{
    position: absolute;
    right: -120px;

bottom: 0;
}
 .hero-text{
   text-align: left;
    display: flex;
    place-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: red; */
    gap: 24px;
}


.hero-text .text{
    background: rgba(255, 255, 255, 0.1);
border-radius: 32px;
padding: 6px 11px;
padding-left: 5px;
font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;
color: #FFFFFF;
}
.hero-text .text span{    
    letter-spacing: 0.04em;
text-transform: uppercase;
font-weight: 500;
font-size: 16px;
line-height: 150%;
padding: 4px 16px;
color: #0D0D2B;
margin-right: 16px;
background: #FFFFFF;
border-radius: 32px;
}
.hero-text h4{
    font-weight: 700;
font-size: 55px;
line-height: 76px;
}
.hero-text p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */

letter-spacing: 0.01em;

/* Neutral / Grey 5 */

color: #E0E0E0;
}
.try-free a{
text-decoration: none;
color: #FFFFFF;
display: flex;
gap: 24px;
place-items: center;
 padding: 16px 16px 16px 24px; 
 font-weight: 500;
 font-size: 18px;
 line-height: 150%;
 
}
.hero-text .try-free{
    background: #3671E9;
border-radius: 32px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

cursor: pointer;
}
.try-free:hover{
    transform: scale(1.03);
}
.try-free  .fa{
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;

place-content: center;
place-items: center;
    width: 32px;
    height: 32px;
        color: #3671E9;
    
}

/* Why CRAPPO */
.crappo{
  position: relative;
   
}
.crappo .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 0;
    /* gap: 80px; */
}
.crappo .flex{
    flex-basis: 33.33%;
    max-width: 33.33%;
    display: flex;
    gap: 24px;
    place-items: center;
    /* place-content: center; */
}
.crappo .icon{
 background: rgba(255, 255, 255, 0.1);
 width: 80px;
 height: 80px;
 border-radius: 50%;
display: flex;
 place-content: center;
 place-items: center;
}
.crappo .icon img{
width: 40%;
height: 40%;
}
.crappo .flex-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.flex-text h5{
    font-weight: 700;
font-size: 40px;
line-height: 150%;
color: #FFFFFF;
}
.flex-text p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;

color: #E0E0E0;
}


/* CRAPPO content */
.content{
    display: flex;
    gap: 70px;
    margin-bottom: 100px;
    position: relative;
   transition: all 0.3s linear;
}


.content h3{
    font-weight: 700;
font-size: 33px;
line-height: 150%;
}
 .learn{
    justify-content: center;
    align-items: center;
    background: #3671E9;
border-radius: 32px;
    cursor: pointer;   
    transition:all 0.3s linear ;
    display: inline-block;
}
.learn a{
   /* display: inline-block; */
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        gap: 24px;
        place-items: center;
         padding: 16px 24px; 
         font-weight: 500;
         font-size: 18px;
         line-height: 150%;
        }

        .learn:hover{
            transform: scale(1.03);
        }

        .content .d, .u{
            position: absolute;
            right: -10%;
        }
        .content .d{
            top: -130px;
        }
        .content .u{
            bottom: -30px;
        }


        /* Earn text */
        .earn-text{
            padding-top: 100px;
            padding-bottom: 64px;
            text-align: center;
        }
        .earn-text h5{
            font-weight: 700;
font-size: 40px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
  }
  .earn-text p{
 font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #E0E0E0;
  }

  /* Calculate */
  .calculate{
    background-color: #FFFFFF;
    color: #0D0D2B;
    /* padding: 48px; */
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 66%;
    /* left: 0; */
    left: 17%;
    top: -15%;
    border-radius: 16px;
    position: absolute;
box-shadow:  0px 1px 8px #391777;

  }
  .base1{
    display: flex;
    gap: 48px;
    padding: 48px;
    /* background-color: red; */
    background: #FBFCFE;
    border-radius: 16px 16px 0px 0px;
  }
 .base1 input {
    width: 50%;
 }
 .base1 select, button{
    width: 25%;

 }
 .base1 button{
    /* padding: 0padd; */
    border: 0;
    padding: 16px 32px;
    background: #3671E9;
border-radius: 32px;
font-weight: 500;
font-size: 18px;
line-height: 150%;
text-align: center;
color: #FFFFFF;
transition:all 0.3s linear;
 }
  .base1 input, select{
    border:none;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0px;
    /* outline: none; */
  }
  [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }
 input, select{
    font-weight: 400;
font-size: 20px;
color: #0D0D2B;
 }
 .base1 button:hover{
    transform: scale(1.03);
 }


 .base2{
    display: flex;
    padding: 48px;
    background-color: firebrick;
    flex-direction: column;
    gap: 5px;
    background: #FFFFFF;
border-radius: 0px 0px 16px 16px;
/* box-shadow: 0px 0px 40px #391777; */
/* mix-blend-mode: overlay; */
 }
 .base2 h3{
    margin-bottom: 10px;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #3671E9;
 }
 .base2 h2{
    font-weight: 700;
font-size: 32px;
line-height: 150%;
letter-spacing: 0.04em;
color: #0D0D2B;
 }
 .base2 h2 span{
    color: #3671E9;
 }
 .base2 p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;
color: #828282;
 }


 /* white background */
 .white{
    background-color: #FFFFFF;
    color: #0D0D2B;
    padding-top: 320px;
    padding-bottom: 100px;
    /* height: 700px; */
    position: relative;
    margin-top: 200px;
 }
 .white h4{
    text-align: center;
    font-weight: 700;
font-size: 40px;
line-height: 150%;
/* or 60px */
margin-bottom: 64px;
text-align: center;
 }


 .white .coins{
    display: flex;
    gap: 45px;
    max-width: 100%;
    flex-basis: 100%;
 }
 .coins .coin{
    /* background-color: red; */
    max-width: 33.33%;
    flex-basis: 33.33%;
    text-align: center;
    padding: 48px 24px;
    backdrop-filter: blur(250px);
border-radius: 16px;

 }
 .coins .coin.one{
    background: #2B076E;
 }
 
 .coin img{
    margin-bottom: 48px;
 }
 .coin h2{
    display: flex;
    place-content: center;
    font-weight: 700;
    place-items: center;
    gap: 8px;
font-size: 32px;
line-height: 150%;
text-align: center;

margin-bottom: 16px;
 }
 .coin.one h2{
    color: #FFFFFF;
 }
 .coin.two h2{
    color: #0D0D2B;
 }
 .coin h2 span{
    font-weight: 500;
    /* place-content: center; */
font-size: 18px;
line-height: 150%;
text-align: center;
/* display: flex; */
color: #BDBDBD;
opacity: 0.7;
 }
.coin p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
   
    margin-bottom: 25px;
}
.coin.one p{
     color: #FFFFFF;
}
.coin.two p{
    color: #828282;
}
.coin.one .try-free{
    background: #3671E9;
    border-radius: 32px;
    transition: all 0.3s linear;
    display: inline-block;
}
.coin .right{
    display: flex;
    place-content: center;

}

.coin.two .fa{
    width: 64px;
    height: 64px;
    display: flex;
    place-content: center;
    place-items: center;
    /* align-self: center; */
    /* align-self: center; */
    font-size: 30px;
    font-weight: 500;
    color: #3671E9;
    border-radius: 1000px;
    border: 2px solid rgba(43, 7, 110, 0.2);
    transition: all 0.3s linear;
}
.coin.two .fa:hover{
    transform: scale(1.03);
}


/* Features */
.last-blue{
    background: #2B076E;
    padding-top: 100px ;
    padding-bottom: 270px;
}
.features{
    position: relative;
   /* text-align: center; */
}
.features h4{
    font-weight: 700;
font-size: 40px;
line-height: 150%;
text-align: center;
margin-bottom: 100px;
}

.features .invest{
    /* background-color: red; */
    display: flex;

    justify-content: space-between;
place-items: center;
    /* padding: 40px; */
}
.invest .invest-chart{
    background: #35068C;
    border-radius: 16px;
    padding: 40px;
    width: 50%;
}
.invest-chart .image{
    display: flex;
    flex-direction: column;
    /* gap: -100px; */
    /* width: 100%; */
    position: relative;
}
.invest-chart img.vec7{
   position: absolute;
   width: 100%;
}

.bit-rise{
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    padding-bottom: 24px;
}
.bit-rise .btc{
    display: flex;
    /* flex-direction: column; */
    gap: 16px;
}
.btc .btc-sub{
    /* display: flex; */
    flex-direction: column;
    gap: 4px;
}
.bit-rise .rise{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #42FFFF;
}
.bit-rise p{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    gap: 8px;
    place-items: center;
}
.bit-rise p span{
    font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #CFCFCF;

opacity: 0.7;
}
.bit-rise .num{
    font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.01em;

color: #F2F2F2;
}
.btc img{
    width: 40px;
    height: 40px;
}

.invest-text{
 position: relative;
}
.invest-text h2{
    font-weight: 700;
font-size: 32px;
line-height: 150%;
margin-bottom: 24px;
}
.invest-text p{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
letter-spacing: 0.01em;
margin-bottom: 32px;
color: #E0E0E0;

}

.card-increase{
    display: flex;
    position: absolute;
    gap: 26px;
    top: 90%;
    left: 24px;
    flex-direction: column;
    background: #491F98;
backdrop-filter: blur(250px);
/* margin-bottom: 150px; */
/* Note: backdrop-filter has minimal browser support */
padding: 24px 16px;
border-radius: 16px;
}
.card-increase h3{
    font-weight: 600;
font-size: 20px;
line-height: 28px;
margin-right: 40px;
/* or 140% */

letter-spacing: 0.01em;
}
.card-increase .percent{
    font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */
display: flex;
gap: 13px;
place-items: center;

letter-spacing: 0.01em;
}
.card-increase p{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;

color: #F2F2F2;
}


.card{
    background: #491F98;
border-radius: 16px;
padding: 16px 32px;
position: absolute;
right: 16px;
top: 97%;
}
.card h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.01em;
}
.card p{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.01em;

color: #F2F2F2;
}